.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 35px;
    border: none;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.04);
    padding: 70px;
}
.name-container{
    display: flex;
}
.firstName{
    display: flex;
    flex-direction: column;
    margin:0px 40px 20px 10px;

}
.lastName{
    display: flex;
    flex-direction: column;
    margin:0px 0px 20px 40px;
}
.firstName input{
    border: none;
    background-color: #F8FBFF;
    border-radius: 10px;
    height: 30px;
    width: 100%;
    cursor: pointer;
}
.lastName input{
    border: none;
    background-color: #F8FBFF;
    border-radius: 10px;
    height: 30px;
    width: 100%;
    cursor: pointer;
}

.Birthday{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.Birthday label{
    margin-left: -400px;
    margin-bottom: 5px;
}
.Birthday input{
    border: none;
    background-color: #F8FBFF;
    border-radius: 16px;
    cursor: pointer;
    height: 30px;
    width: 100%;
}
.study{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.study label{
    margin-left: -440px;
    margin-bottom: 5px;
}
.study input{
    border: none;
    background-color: #F8FBFF;
    border-radius: 16px;
    cursor: pointer;
    height: 30px;
    width: 100%;
}
.date{
    display: flex;
}
.startDate{
    display: flex;
    flex-direction: column;
    margin:0px 40px 20px 10px;
}
.startDate input{
    border: none;
    background-color: #F8FBFF;
    border-radius: 10px;
    height: 30px;
    width: 200px;
    cursor: pointer;
}
.startDate label{
    margin-left: -120px;
    margin-bottom: 5px;
}
.endDate{
    display: flex;
    flex-direction: column;
    margin:0px 10px 20px 40px;
}
.endDate input{
    border: none;
    background-color: #F8FBFF;
    border-radius: 10px;
    height: 30px;
    width: 200px;
    cursor: pointer;
}
.endDate label{
    margin-left: -120px;
    margin-bottom: 5px;
}
.salary{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.salary input{
    border: none;
    background-color: #F8FBFF;
    border-radius: 16px;
    cursor: pointer;
    height: 30px;
    width: 100%;
}
.salary label{
    margin-left: -380px;
    margin-bottom: 5px;
}
.description{
    display: flex;
    flex-direction: column;
}
.description textarea{
    border: none;
    background-color: #E9F2FF;
    border-radius: 16px;
    width: 500px;
    height: 200px;
    cursor: pointer;
}
.description label{
    margin-left: -400px;
    margin-bottom: 5px;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    margin: 60px;
    margin-bottom: -10px;
}
.btn button{
    margin: 0 20px;
    width: 150px;
    height: 32px;
    border-radius: 12px;
    border: 0.1px solid black;
    cursor: pointer;
}